name: meiosis

on:
  push:
    branches:
      - master
  workflow_dispatch:
  # for debugging
  # pull_request:
    # types: [opened, reopened, synchronize, ready_for_review, review_requested]

jobs:
  build:
    strategy:
      max-parallel: 4
      # let some wheels complete even if others fail
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14, macos-15-intel]
        python_version: ['3.9', '3.10', '3.11', '3.12', '3.13']

        include:

          - os: ubuntu-latest
            platform_id: manylinux_x86_64
            manylinux_image: manylinux2014
          - os: windows-latest
            platform_id: win_amd64
          # macos x86_64 (intel)
          - os: macos-15-intel
            platform_id: macosx_x86_64
          # macos arm64 (apple silicon)
          - os: macos-14
            platform_id: macosx_arm64

          - python_version: '3.9'
            python: 39
            cibuildwheel: "cibuildwheel<3"
          - python_version: '3.10'
            python: 310
            cibuildwheel: "cibuildwheel<3"
          - python_version: '3.11'
            python: 311
            cibuildwheel: "cibuildwheel<4"
          - python_version: '3.12'
            python: 312
          - python_version: '3.13'
            python: 313
            cibuildwheel: "cibuildwheel<4"

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python ${{ matrix.python_version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python_version }}

    - name: Installation
      run:
        |
        python -m pip install --upgrade pip
        pip install "cython<3.0"
        pip install "numpy<2"
        pip install -e .

    - name: Install cibuildwheel
      run: python -m pip install "${{ matrix.cibuildwheel }}"

    - name: Build wheels
      run: python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_BUILD: cp${{ matrix.python }}-${{ matrix.platform_id }}
        CIBW_ARCHS: all
        CIBW_MANYLINUX_X86_64_IMAGE: ${{ matrix.manylinux_image }}
        CIBW_MANYLINUX_I686_IMAGE: ${{ matrix.manylinux_image }}

    - name: Store artifacts
      uses: actions/upload-artifact@v4
      with:
        name: cibw-wheels-cp${{ matrix.python }}-${{ matrix.platform_id }}
        path: ./wheelhouse/*.whl
